<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no"><!-- 取消浏览器自动识别拨号 -->
    <title>烟台公安</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<span class="header-left back"></span>
		<div class="header-title">驾驶人身体情况申报表</div>
	</header>
	<section>
		<div class="xuzhi">
			<p>一、本人身体条件符合中华人民共和国机动车驾驶证申请条件</p>
			<p>二、本人不具有器质性心脏病、癫痫病、美尼尔氏症、眩晕症、癔症、震颤麻痹、精神病、痴呆、影响肢体活动的神经系统疾病等妨碍安全驾驶疾病，及三年内有吸食、注射毒品行为或者解除强制隔离戒毒措施未满三年，或长期服用依赖性精神药品成瘾尚未解除的情况</p>
			<p>三、本人的身体条件如果发生不符合机动车驾驶许可条件的情形，本人将在30日内向公安机关申请降低准驾车型或注销机动车驾驶证；</p>
			<p>四、上述申告为本人真实情况和真实意思表示，如果不属实本人自愿承担相应的法律责任。</p>
		</div>
		<div class="record-bottom">
			<h2 class="sign-title">签约区域<span class="sign-btn">点击签字</span></h2>
        	<div class="sign-show">签名展示区域</div>
		</div>
	</section>
	<div class="footer">
		<input type="button" value="阅读并同意，进入审验学习"/>
	</div>
</body>
</html>